body {
    position: relative;
    padding-top: 50px;
    font-family: 'Raleway', sans-serif;
}

div.pageSection {
    min-height: 100vh;
    padding: 25px;
}

div.pageSection h1 {
    text-align: center;
}

a.navbar-brand {
    font-weight: bold;
}

#About {
    background-color: blue;
}

#Projects {
    background-color: red;
}

#Contact {
    background-color: rgb(23, 255, 2);
}
